* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(./utils/background.png);
    background-size: 100%;
    background-attachment: fixed;
  }
  
  #header-tractor {
    display: none;
  }
  
  h1 {
    font-size: 15px;
    text-shadow: -2px 0 white, 0 2px white;
  }
  
  #display {
    width: 10px;
    position: fixed;
    left: -190px;
    top: 300px;
  }
  
  .gallery {
    min-width: 90%;
    display: flex;
    flex-direction: column;
  }

  .column {
    display: flex;
    flex-direction: column;
  }
  
  .gallerypic {
    min-width: 100%;
    margin: 1% 0px;
    border-right: 3px solid yellow;
    border-bottom: 3px solid black;
  }
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url(./utils/background.png);
  background-size: 100%;
  background-attachment: fixed;
}

header {
  padding: 32px;
  display: flex;
  justify-content: center;
}

#header-tractor {
  width: 50px;
  margin-left: 15px;
  animation: forwards;
  transition: 3s;
}

h1 {
  font-size: 40px;
}

#display {
  width: 270px;
  position: fixed;
  margin-left: 80px;
}

.gallery {
  margin: 0 auto;
  display: flex;
  justify-content:flex-start;
  width: 60%;
}

.gallerypic {
  width: 300px;
  border-right: 3px solid yellow;
  border-bottom: 3px solid black;
}

.column {
  margin: 0 3px;
}